################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

**.vs/
**bin/

**obj/

*.user
*.suo
